<div class="bio">
  <img src="/images/jess-budd-bio.jpg" class="bio__avatar" alt="Jess Budd headshot" />
  <p class="bio__text">
    Jess is a senior software engineer and web accessibility nerd. When she’s not writing, speaking or tweeting about tech, you’ll find her putting together lego or going on walks with her doggo.
  </p>
</div>