<div class="sharethis-inline-share-buttons" data-title="{{title}} by @jessbudd4"></div>

<div class="bio">
  <img src="/images/jess-budd-bio-fun.jpg" class="bio__avatar" alt="Jess Budd informal headshot" />
  <p class="bio__text">
    Jess is a senior software engineer and web accessibility nerd. When she’s not writing, speaking or tweeting about tech, you’ll find her putting together lego or walking with her doggo.
  </p>
</div>