
<header>
  <div class="container">
  <nav>
      <ul class="nav">
      {% for link in primaryNavLinks %}
        <li>
          <a href="{{ link.href }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
