
<header>
  <div class="container">
    <nav>
      <div class="nav-home">
        <a href="/">
        <img src="/images/favicon3.png" alt="Home" />
        </a>
      </div>
      <ul class="nav">
      {% for link in primaryNavLinks %}
        <li>
          <a href="{{ link.href }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
